fastapi<1.0.0
uvicorn<1.0.0
gunicorn
python-dotenv
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
aiohttp
sqlalchemy
websockets
pydantic<2.0.0
email-validator==2.1.0
python-multipart==0.0.6 