<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="python" 
                  arguments="-m gunicorn main:app --bind=0.0.0.0:%HTTP_PLATFORM_PORT% --worker-class=uvicorn.workers.UvicornWorker --timeout 600 --workers 4" 
                  stdoutLogEnabled="true" 
                  stdoutLogFile="\\?\%home%\LogFiles\stdout.log" 
                  startupTimeLimit="300">
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="PYTHONUNBUFFERED" value="1" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration> 